.app{
  display: grid;
  place-items: center;
  margin: 50px ;
}

.app__fakeData h1{
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 20px;
}

.app__input input{
  padding: 5px 30px;
  margin-bottom: 20px;
}

.app__data{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: gainsboro;
  margin-bottom: 10px;
  width: 100%;
}

.app__data p{
   margin-right: 20px;
   padding: 5px;
}